body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0056b3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    max-width: 960px;
    margin: auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.flex-item {
    flex: 1;
    min-width: 300px; 
}

.summary {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-list {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilo modificado para la tabla */
.table-scrollable {
    display: block;
    max-height: 500px; /* Altura máxima deseada para la tabla */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
    width: 100%;
}

/* Asegura que el encabezado de la tabla se mantenga visible */
.table-scrollable thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Asegura que el encabezado se muestre sobre el contenido al desplazar */
    background-color: #007bff;
    color: #ffffff;
}

/* Ajuste para garantizar la visibilidad del contenido de las celdas bajo el encabezado fijo */
.table-scrollable tbody tr:first-child td {
    padding-top: 20px;
}



@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 20px 0;
    }

    td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        position: absolute;
        top: 12px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        text-align: left;
        font-weight: bold;
    }

    .flex-container {
        flex-direction: column;
    }
}